* {
  margin:0; padding: 0;

  background-color:rgb(19, 33, 73);
}
.meme-card-display-container {

  display: flex;
  align-self: center;
  display:grid;
  grid-template-columns: repeat(4, 23%);
  grid-template-rows: repeat(25, 15%);
  margin-left: 10%;
}