.meme-card-container {

    border: 2px dashed #EEE;
    margin: 2%;
    height: 96%;
    background-color:rgb(2, 46, 90);
    border-radius: 16px;
}

.meme-card-container:hover {
    border-color: #DCC500;
}

.meme-card-container .meme-image {
    width: 90%;
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 16px;
    border: 2px dashed #EEE;
}

.meme-card-container .meme-image:hover {
    border-color: #DCC500;
}

.meme-card-container .meme-name {
    text-align: center;
    color:#EEE;
    border: 1px dashed #EEE;
    margin: 1% 5%;
    border-radius: 16px;
}

.meme-card-container .meme-name:hover {
    border-color: #DCC500;
    color:#DCC500;
}
